So, you've discovered a new noble gas? <br><br>

.........<br><br>
Seems unlikely but go ahead I guess.<br> <br>
<form method="POST" action="/noblegases">
    <label for="elementName">Name</label>
    <input id="elementName" type="text" name="name">

    <label for="atomicNumber">Atomic Number</label>
    <input id="atomicNumber" type="text" name="atomic_number">
  
    <input type="submit">
  </form>